{% extends 'CoreBundle:Intervention:layout.html.twig' %}

{% block body %}

    <div class="col s12">
        {% include 'CoreBundle:Template:list_interventions.html.twig' with {'with_enterprise': true} %}
    </div>

{% endblock %}
