{% extends "UserBundle::layout.html.twig" %}

{% block body %}
    <div class="col s6 offset-s3">
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    </div>
{% endblock body %}
