{% extends "UserBundle::layout.html.twig" %}

{% block body %}
    <div class="col s6 offset-s3">
        {% include "FOSUserBundle:Profile:edit_content.html.twig" %}

        <a class="waves-effect waves-light btn orange" href="{{ url('fos_user_change_password') }}">
            {{ 'user.profile.change-password'|trans }}
        </a>
    </div>
{% endblock body %}
