{% extends 'CoreBundle:Enterprise:layout.html.twig' %}

{% block body_content %}
    <div class="col s6 offset-s3">
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}

            {% include 'CoreBundle:Form:button/edit.html.twig' %}
        {{ form_end(edit_form) }}

        {% include 'CoreBundle:Template:confirm_delete.html.twig' %}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.modal-trigger').leanModal();
        });
    </script>
{% endblock %}
