{% extends "CoreBundle::layout_with_title.html.twig" %}

{%- block content_title -%}
    {{ "core.title.enterprise"|trans }}
{%- endblock -%}

{%- block body -%}
    <div class="col s12 right-align">
        {% block actions %}
        <a class="waves-effect waves-light btn" href="{{ path('core_enterprise_index') }}">
            {{ "core.back"|trans }}
        </a>
        {% endblock %}
    </div>
    {% block body_content %}
    {% endblock %}
{%- endblock -%}
