{% extends 'CoreBundle:Enterprise:layout.html.twig' %}

{% block body_content %}
    <div class="col s6 offset-s3">
        {% include 'CoreBundle:Template:Form/entity/add_enterprise.html.twig' %}
    </div>
{% endblock %}
